/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@400;700&display=swap');

/* Global styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (max-width: 1399px) {
  .container {
    width: 95%;
  }
}

/* Header styles */
header {
  width: 100%;
  height: 80px;
  background: #1f1f1f;
}

header h1 {
  font-weight: 500;
}

header .site-title:hover {
  font-style: italic;
}

header a {
  text-decoration: none;
  color: #fff;
}

header div.container {
  height: 100%;
}

header div.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .social-icons {
  font-size: 30px;
}

header .social-icons a {
  margin: 0 7px;
  transition: color 0.4s ease;
}

header .social-icons a:hover {
  color: #006f9c;
}

header .social-icons a:first-of-type {
  margin-left: 0;
}

header .social-icons a:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 569px) {
  header h1 {
    font-size: 1.5rem;
  }
  header .social-icons {
    font-size: 24px;
  }
}

@media screen and (max-width: 435px) {
  header h1 {
    font-size: 1rem;
  }
  header .social-icons {
    font-size: 16px;
  }
}

/* Main styles */
main {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#screen {
  border: 1px solid #000;
}

/* Footer styles */
footer {
  height: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #006f9c;
  color: white;
}
